<html>
  <head>
    <title> {% block title %} Finstagram {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
  </head>
  
  <body>
    {% block content %}
    <h1>Welcome to Finstagram</h1>
    <div>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
    {% endblock %}
  </body>
</html>
